<h1>Display your Pirate here</h1>
<label>Pirate Name: </label><%= @pirate.name%><br>
<label>Pirate Weight: </label><%= @pirate.weight%><br>
<label>Pirate Height: </label> <%= @pirate.height%><br>

<h2>Display your first ship here</h2>
<label>ship_name_1</label><%= @ship1.name%>
<label>Ship 1 Type: </label><%= @ship1.type%>
<label>Ship 1 Booty: </label><%= @ship1.booty%>

<h2>Display your second ship here</h2>
<label>Ship 2 Name: </label><%= @ship2.name%>
<label>Ship 2 Type: </label><%= @ship2.type%>
<label>Ship 2 Booty: </label><%= @ship2.booty%>
